/Cinemax/Payment.API/obj/
/.vs
/Cinemax/WebApplication1/package-lock.json
/Cinemax/Cinemax.sln
/Cinemax/package-lock.json
/CinemaxSPA/.vs

# Google Drive credentials and tokens
**/client_secret_*.json
**/cinemax-*.json
**/token.json
**/token.json/*
