<div class="catalog-grid">
  <div class="movie-card" *ngFor="let movie of movies">
    <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" alt="{{ movie.title }}" />
    <div class="movie-content">
      <h3>{{ movie.title }}</h3>
      <p><strong>Genre:</strong> {{ movie.genre }}</p>
      <p><strong>Director:</strong> {{ movie.director }}</p>
      <p><strong>Length:</strong> {{ movie.length }} min</p>
      <p class="description">{{ movie.description }}</p>
    </div>

    <div class="card-buttons">
      <a *ngIf="movie.linkToTrailer" [href]="movie.linkToTrailer" target="_blank" class="trailer-button">
        Watch Trailer
      </a>
      <button (click)="addToBasket(movie)" class="add-btn">
        Add to Basket
      </button>
    </div>
  </div>
</div>
