@if(appState$ | async; as appState){

<div class="app-wrappers">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a href="/">Cinemaxx</a></span>
    <span class="toolbar-spacer"></span>
    @if(appState.userId )
    {
    <button mat-button [matMenuTriggerFor]="menu">Hi, {{appState.firstName}}</button>
    <mat-menu #menu="matMenu">
      @if(appState.isPremium) {
      <button mat-menu-item>
        <a mat-button href="/sessions">Watch online</a>
      </button>
      }
      <button mat-menu-item>
        <a mat-button href="/payments">Payments</a>
      </button>
      <button mat-menu-item>
        <a mat-button href="/paypal">PayPal Test</a>
      </button>
      <button mat-menu-item>
        <a mat-button href="/logout">Logout</a>
      </button>

    </mat-menu>

    } @else {
    <a mat-button href="/login">Login</a>
    }

  </mat-toolbar>

  <router-outlet />
</div>
}